.flex {
  outline: 1px solid #8884;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.wrap {
  flex-wrap: wrap;
}

.horizontal {
  flex-direction: row;
}

.fit {
  flex-grow: 1;
}

.pad {
  padding: var(--unit-spacing, 1em);
}

.gap {
  gap: var(--unit-spacing, 1em);
}

.center {
  align-items: center;
  justify-content: center;
}

.verticalCenter:not(.horizontal) {
  justify-content: center;
}
.verticalCenter.horizontal {
  align-items: center;
}

.clip {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.flex:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.theme-default {
  background-color: transparent;
  color: currentColor;
}

.theme-invert {
  color: var(--theme-invert-color);
  background-color: var(--theme-invert-background);
}

.flex > progress {
  width: 100%;
}
